@model OrderFormViewModel
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">



        @using (Html.BeginForm())
        {
        <fieldset>
            <legend>Microsoft Corp</legend>

            <br />

        </fieldset>
        }



    </div>



